@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Macondo|Indie+Flower|Tapestry|Righteous|Yanone+Kaffeesatz|Pacifico|Source+Serif+Pro|Lora|Aclonica');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(41, 87, 82) ;
}

#background{
    min-height: 100vh;
    justify-content: center;
    position: relative;
    background-image:url('./images/turtle64.jpg') ;
    background-attachment: fixed;
    background-size: cover;
    
}

/*header styles*/

nav{
    background-color:transparent;
}

nav h1{
    font-size: 30px;
    font-family:Rock Salt,Macondo ;
    float: left;
    margin-left: 30px;
    font-weight: bold;
    color: black;
}

#menu{
    font-family: Tapestry;
    font-size: 16px;
}

#menu ul{
    list-style: none;
    display:inline-flex;
    margin-left: 200px;
    margin-top: 10px;

}
#menu ul li{
    margin-top: 10px;
}


#menu ul li:hover{
    background-color: black;
    border-radius: 5px;
    transition: .5s;
}
#menu ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}
 #sub-menu{
    display: none;
 }

 #menu ul li:hover #sub-menu{
    display:block;
    position: absolute;
    background-color: transparent;
 }

 #menu ul li:hover #sub-menu ul{
    display: block;
    margin: 10px;
 }

#menu ul li:hover #sub-menu ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background:transparent;
    border-radius: 0;
    text-align: left;
}

#menu ul li:hover #sub-menu ul li:last-child{
    border-bottom: none;
}

#menu ul li:hover #sub-menu ul li a:hover{

    color:black;
}

/*header styles end*/

/*main heading*/

h2{
    margin-left: 100px;
    margin-top: 150px;
    font-family:Aclonica ;
    font-size: 70px;
}

/*main intro styles*/

#box1{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0.5));
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 250px;

}

.para_1 p{
    font-family: "Source Serif Pro" ;
    font-size: 17px;
    margin-left: 200px;
    margin-right: 200px;
    color: whitesmoke;
    text-align: justify;
    margin-top: 20px;

}

.para_1 h3{

    color: red;
    font-family: "Source Serif Pro" ;
    font-size: 20px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.para_1 span{
    font-weight: bold;
    font-size: 20px;
    
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px ;
    border-radius: 25px;
    font-weight:bold ;
    border: 2px solid whitesmoke;
    background: rgb(6, 90, 6);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button span{
    background: white;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover{
    border: none;
    background-color: whitesmoke;
    color: rgb(6, 90, 6);
}

h4{
    font-family: "Source Serif Pro"  ;
    font-size: 23px;
    color:  rgb(6, 90, 6);
    background-color: whitesmoke;
    width: 800px;
    margin-top: 50px;
    border-radius: 100px;
    padding: 10px;


}

/*main intro styles end*/

/*online store styles*/

.heading h5{
    margin-top: 100px;
    text-align: center;
    font-family:"Source Serif Pro" ;
    font-size: 25px;
    color: aqua;
    background-color:rgb(15, 44, 41) ;
    width: 1467px;
    padding: 5px;

}


.store{
    display: flex;
}


.card{
    width: 280px;
    background: transparent;
    box-shadow: 10px 10px 20px rgba(0,0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    font-family: "Source Serif Pro" ;
    font-size: 17px;
    text-align: center;
    margin-top: 100px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.5s; 
}


.card:hover{
    transform: translateY(-10px);
}

.button2 button{
    width: 100px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 10px ;
    border-radius: 25px;
    font-weight:bold ;
    border: 2px solid whitesmoke;
    background:rgb(15, 44, 41) ;
    color: aqua;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


.button2 button:hover{
    border: none;
    background-color: whitesmoke;
    color:rgb(15, 44, 41);
}

.title,.price{
    font-weight: bold;
}

.store2{
    display: flex;
}

.card2{
    width: 280px;
    background: transparent;
    box-shadow: 10px 10px 20px rgba(0,0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    font-family: "Source Serif Pro" ;
    font-size: 17px;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.5s; 
}

.card2:hover{
    transform: translateY(-10px);
}

.store3{
    display: flex;
}


.card3{
    width: 280px;
    background: transparent;
    box-shadow: 10px 10px 20px rgba(0,0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    font-family: "Source Serif Pro" ;
    font-size: 17px;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.5s; 
}

.card3:hover{
    transform: translateY(-10px);
}

/*online store styles end*/

/*donate styles start*/

h6{
    margin-top: 50px;
    text-align: center;
    font-family:"Source Serif Pro" ;
    font-size: 25px;
    color: aqua;
    background-color:rgb(15, 44, 41) ;
    width: 1467px;
    padding: 5px;
    margin-bottom: 100px;
}


.form{
    background: transparent;
    box-shadow: 10px 10px 20px rgba(0,0, 0, 0.3);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.form h5{
    font-family:"Source Serif Pro" ;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}



form{
    background-color: whitesmoke;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;

}


.form p{
    margin-left: 50px;
    font-family:"Source Serif Pro" ;
    font-size: 17px;
    letter-spacing: 1px;

}

fieldset{
    margin: 20px;
}

legend{
    margin-left: 20px;
    font-weight: bold;
    font-size: 17px;
    font-family:"Source Serif Pro" ;
}

#leg2 legend{
    font-family: "Source Serif Pro";
    font-size: 17px;
}

.form{
    cursor: pointer;
    transition: transform 0.5s; 
}

.form:hover{
    transform: translateY(-10px);
}

/*donate styles end*/


#go{
    margin-top: 300px;
    margin-left: 30px;
    width: 100px;
    background-color: #00151e;
    text-align: center;
    border-radius: 100px;
  }
  #go a{
    text-decoration: none;
    font-family: 'Source Serif Pro';
    font-size: 15px;
    color:rgb(29, 162, 149);
    
    
  }
  

/*footer styles*/

footer h1{
    color: black;
    font-size: 30px;
    font-family:Rock Salt,Macondo ;
    font-weight: bold;  
    margin-top: 20px;
    margin-bottom: 20px;

}

 footer{
    margin-top: 100px;
    width: 100%;
    position: absolute;
    background: linear-gradient(to right,rgb(29, 162, 149), #00151e);
    border-top-left-radius:125px ;
}


#details{
    color: black;
    font-family: 'Source Serif Pro';
    font-weight: bold;
    
}
#symbols img{
    border: transparent;
}

#footer_bottom{
    margin-top: 15px;
    color: #fff;
    margin-bottom: 15px;
    background-color: #00151e;
}

/*footer styles end*/

/* @media styles for phones*/

@media screen and(max-width:700px) {
    #background{
        width: 100%;
    }
}

@media screen and ( max-width: 700px) {
    nav h1 {
        margin-top: 20px;
        font-size: 17px;
        float: left;
        display: block;
        margin-left: 20px;

    }
  }

  @media screen and ( max-width: 700px) {
    #menu ul {
      float: left;
      display: block;

    }
  }

  @media screen and ( max-width: 700px) {
    #menu ul li:hover #sub-menu ul{
        float: left;
        margin-left: 160px;
        display: block;
    }
  }

@media screen and ( max-width: 700px) {
    h2 {
      font-size: 65px;
      margin-top: 0px;
      margin-left: 15px;
    }
  }

  @media screen and (max-width:700px) {
    .store, .store2, .store3{
        display: block;

    }
}
@media screen and (max-width:700px) {
    .card, .card2, .card3{
       width: 200px;
       height: 200px;
       margin-top: 20px;
       margin-left: 80px;
       font-size: 15px;

    }
}

@media screen and (max-width:700px) {
    .card img, .card2 img, .card3 img{
       width: 70px;
       height: 100px;

    }
}

@media screen and (max-width:700px) {
    #box1{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width:700px) {
    .para_1 p{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 15px;
    }
}

@media screen and (max-width:700px) {
    .para_1 h3{
        font-size: 17px;
        margin-left: 20px;
        margin-right: 20px;

    }
}
@media screen and (max-width:700px) {
    .para_1 span{
        font-size: 17px;
    }
}

@media screen and (max-width:700px) {
    h4{
        font-size: 17px;
        margin-left: 20px;
        margin-right: 20px;
        width: 300px;

    }
}

@media screen and (max-width:700px) {
    .heading h5, h6{
        font-size: 17px;
        width: 100%;

    }
}
@media screen and (max-width:700px) {
    .form{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width:700px) {
    .form h5{
        font-size: 17px;
    }
}
@media screen and (max-width:700px) {
    form{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }
}

@media screen and (max-width:700px) {
    .form p{
        font-size: 15px;
        margin-left: 20px;
    }
}